#dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 26%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px; /* Increase dropdown width */
  z-index: 1;
  cursor: pointer;
  margin-top: 10px; /* Add margin to position below the button */
}

p {
  padding: 15px;
  margin: 0;
  color: #333;
  transition: background-color 0.3s ease-in-out;
}

p:hover {
  background-color: #007bff;
  color: #fff;
}
